@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-underline {
    position: relative;
  }
  
  .custom-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFC857; /* Specify your custom color */
    transition: width 0.2s ease-in-out; /* Adjust the duration as desired */
  }
  
  .custom-underline:hover::after {
    width: 100%;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-small-bounce {
    animation: bounce 1s infinite;
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .float {
    animation: floating 3s ease-in-out infinite;
  }
  
  
}
